/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	width: 90%;
	margin: auto;
}

header {
	text-align: center;
	width: 100%;
	padding: 1%;
	margin: 1% 1% 1% 0%;
}

nav {
	display: inline-block;
	padding: 2%;
	margin: auto;
	width: 75%;
	float: left;
}
nav a {
	text-decoration: none;
	padding-right: 6%;
	color: gray;
	width: 5%;
}

.logo {
	display: inline-block;
	width: 23%;
	padding-bottom: 2%;
}

.banner {
	width: 100%;
	margin: 1%;
	padding: 4%;
}

.inovation-box {
	display: inline-block;
	width: 40%;
	margin: 4%;
}

h1 {
	font-size: 5em;
	text-align: center;
}

h6 {
	margin: auto;
	text-align: center;
	padding: 1% 4% 1% 4%;
	border: 1px solid black;
	width: 40%;
}

.banner-img {
	display: inline-block;
	width: 40%;
	margin: 4%;
}

#content-row1 {
	width: 100%;
	margin: 2%;
}

.features {
	display: inline-block;
	width: 45%;
	padding-right: 2%;
}

.about {
	display: inline-block;
	width: 45%
}

#content-row2 {
	width: 100%;
	align-items: center;
}

.middle-img {
	display: inline-block;
	width: 90%;
	margin: 2%;
}

#content-row3 {
	width: 90%;
	margin: 2%;
}

.services {
	display: inline-block;
	width: 30%;
	margin: 1%;
}

.product {
	display: inline-block;
	width: 30%;
	margin: 1%;
}

.vision {
	display: inline-block;
	width: 30%;
	margin: 1%;
}

.contact {
	display: inline-block;
	width: 90%;
	margin: 2%;
}

footer {
	text-align: center;
	margin: 5%;
	padding: 0% 10% 10% 10%;
}
